# PLSA 5 topics news 20

In [41]:
import pandas as pd
topics=int(input("enter topic : "))
bay=pd.read_csv(f"../nb_outputs/news_20/baysian_topic_{topics}.csv")
bay.drop(["Unnamed: 0"],axis=1,inplace=True)

plsa_5top=pd.read_csv(f"../plsa_outputs/news_20/{topics}_topics.csv")
plsa_5top.drop(["Unnamed: 0"],axis=1,inplace=True)

In [42]:
plsa_5top.shape,bay.shape
bay

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.018519,0.592593,0.018519,0.018519,0.018519,0.018519,0.018519,0.018519,0.018519,0.037037,0.018519,0.037037,0.018519,0.037037,0.018519,0.018519,0.018519,0.018519,0.018519,0.018519
1,0.055556,0.055556,0.055556,0.027778,0.055556,0.027778,0.027778,0.055556,0.055556,0.055556,0.055556,0.027778,0.055556,0.055556,0.027778,0.027778,0.055556,0.055556,0.055556,0.111111
2,0.013115,0.104918,0.104918,0.003279,0.052459,0.052459,0.013115,0.104918,0.052459,0.052459,0.052459,0.013115,0.052459,0.052459,0.026230,0.013115,0.104918,0.052459,0.026230,0.052459
3,0.090909,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.045455,0.090909
4,0.060606,0.030303,0.030303,0.030303,0.030303,0.060606,0.121212,0.030303,0.030303,0.060606,0.060606,0.030303,0.121212,0.030303,0.030303,0.060606,0.060606,0.030303,0.060606,0.030303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16323,0.050955,0.407643,0.025478,0.006369,0.025478,0.050955,0.025478,0.025478,0.025478,0.050955,0.025478,0.025478,0.025478,0.050955,0.025478,0.050955,0.025478,0.025478,0.025478,0.025478
16324,0.089888,0.089888,0.022472,0.022472,0.044944,0.011236,0.089888,0.022472,0.044944,0.089888,0.022472,0.022472,0.089888,0.089888,0.022472,0.044944,0.089888,0.044944,0.022472,0.022472
16325,0.132231,0.004132,0.033058,0.004132,0.033058,0.066116,0.066116,0.066116,0.132231,0.033058,0.033058,0.066116,0.066116,0.033058,0.033058,0.033058,0.066116,0.033058,0.033058,0.033058
16326,0.027027,0.027027,0.108108,0.054054,0.054054,0.027027,0.027027,0.108108,0.054054,0.027027,0.027027,0.027027,0.054054,0.027027,0.054054,0.027027,0.027027,0.108108,0.027027,0.108108
16327,0.072727,0.036364,0.072727,0.018182,0.036364,0.036364,0.072727,0.036364,0.036364,0.072727,0.036364,0.072727,0.036364,0.036364,0.072727,0.036364,0.036364,0.072727,0.072727,0.036364

In [43]:
import pickle
with open(f"../nb_outputs/news_20/missing_values_{topics}.pkl","rb") as f:
    missed_idx=pickle.load(f) #got this from nb_gnn 
# missed_idx #drop these values from plsa  #these are the index which are not in the baysian_topic_5 dataset

In [44]:
# len(news_20)-len(missed_idx),len(bay)

In [45]:
news_20=pd.read_csv("../datasets/20news.csv")
# print(news_20.shape,bay.shape[0]+len(missed_idx))
#now using this information generate new indexes
#from the original subtract(eliminate) the missing idx and the new idx 
original_idx=list(range(news_20.shape[0]))
# print(len(original_idx))
for item in missed_idx:
    original_idx.remove(item)
# len(original_idx),bay.shape

In [46]:
# make a new column in bayes and append these indexes
bay["index"]=original_idx

# Now remove the rows which was not common to both the datasets

In [47]:
bay_idx,plsa_5top_idx=set(bay["index"]),set(plsa_5top["index"])

In [48]:
idx_to_keep=bay_idx.intersection(plsa_5top_idx)

In [49]:
len(idx_to_keep)

16288

In [50]:
cleaned_bay=bay[bay["index"].isin(idx_to_keep)]
cleaned_plsa_5=plsa_5top[plsa_5top["index"].isin(idx_to_keep)]

In [51]:
temp=cleaned_plsa_5["index"].to_list()
for i in cleaned_bay["index"].to_list():
    if i not in temp:
        print(i,"what the fuck")
    # break

In [52]:
cleaned_bay.shape,cleaned_plsa_5.shape

((16288, 21), (16288, 21))

In [53]:
cleaned_bay.index=cleaned_bay["index"]
cleaned_plsa_5.index=cleaned_plsa_5["index"]

In [54]:
cleaned_plsa_5.drop(["index"],axis=1,inplace=True)
cleaned_bay.drop(["index"],axis=1,inplace=True)

C:\Users\rbw19\AppData\Local\Temp\ipykernel_9180\2972468246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_plsa_5.drop(["index"],axis=1,inplace=True)
C:\Users\rbw19\AppData\Local\Temp\ipykernel_9180\2972468246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_bay.drop(["index"],axis=1,inplace=True)

In [55]:
# cleaned_bay

In [56]:
# cleaned_plsa_5

In [57]:
cleaned_plsa_5.columns=[str(i) for i in range(cleaned_plsa_5.shape[1])]

In [58]:
cleaned_plsa_5

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
index,,,,,,,,,,,,,,,,,,,,
0.0,0.039748,0.034348,0.052392,0.027421,0.032169,0.027174,0.036171,0.042778,0.038262,0.077620,0.078660,0.033264,0.020371,0.074446,0.036566,0.004151,0.297897,0.002351,0.024269,0.019941
1.0,0.055861,0.010815,0.183109,0.008426,0.254072,0.027227,0.012518,0.023849,0.041014,0.038714,0.090046,0.028153,0.008059,0.079629,0.019407,0.008953,0.032606,0.000561,0.036656,0.040325
2.0,0.027016,0.022798,0.089993,0.055369,0.030580,0.029853,0.023355,0.323497,0.044112,0.051756,0.074807,0.024495,0.016914,0.038854,0.041610,0.011979,0.032406,0.006216,0.029925,0.024464
3.0,0.009962,0.058541,0.097656,0.044818,0.020068,0.080890,0.000000,0.312390,0.018783,0.073621,0.075483,0.033871,0.065442,0.014638,0.016451,0.000000,0.006774,0.002207,0.040805,0.027600
4.0,0.045574,0.042744,0.088479,0.023693,0.018449,0.045180,0.041219,0.037881,0.039102,0.015830,0.021769,0.056462,0.007933,0.004232,0.022347,0.001758,0.038053,0.001735,0.423495,0.024064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18840.0,0.062644,0.009771,0.040628,0.085410,0.024750,0.041760,0.072125,0.056909,0.089122,0.045587,0.064331,0.054679,0.095960,0.111174,0.030945,0.015098,0.025745,0.000670,0.036309,0.036383
18841.0,0.038523,0.039613,0.045458,0.052559,0.092472,0.047749,0.014362,0.072428,0.024707,0.052376,0.062514,0.140504,0.047259,0.021756,0.033194,0.005754,0.038582,0.056795,0.083048,0.030347
18843.0,0.054898,0.012061,0.127435,0.156281,0.040383,0.050571,0.016391,0.058226,0.032891,0.027097,0.038219,0.086123,0.011777,0.080835,0.108314,0.009881,0.018185,0.000907,0.032197,0.037326
18844.0,0.032313,0.052233,0.198227,0.021597,0.084646,0.017290,0.030793,0.072328,0.028488,0.058172,0.127542,0.073941,0.030753,0.056659,0.034244,0.010179,0.010329,0.018618,0.007738,0.033911
18845.0,0.124876,0.029989,0.019459,0.152948,0.029575,0.034839,0.025739,0.023414,0.036283,0.082418,0.117708,0.004921,0.053263,0.065090,0.058649,0.003536,0.039304,0.049842,0.039046,0.009102

# Finding match accuracy without order

In [59]:
import pandas as pd

def accuracy(n_largest,match_threshold,no_topics): #instead of gntm here we have PLSA or other probabilitic models

    bay=cleaned_bay
    gnt=cleaned_plsa_5 #changing the gntm to plsa
    print("read sucessfully")
    # bay.drop(["Unnamed: 0"],axis=1,inplace=True) 
    # gnt.drop(["Unnamed: 0"],axis=1,inplace=True) 
    bay,gnt=bay.transpose(),gnt.transpose()
    bay_top_3,gnt_top_3=[],[]

    for col in range(bay.shape[1]):
        try:
            bay_top_3.append(bay.nlargest(n_largest,col).index) 
        except:
            pass

    for col in range(gnt.shape[1]):
        try:
            gnt_top_3.append(gnt.nlargest(n_largest,col).index)
        except:
            pass

    bay_col_names=[]
    gnt_col_names=[]
    for i in range(1,n_largest+1):
        bay_col_names.append(f'bay_top{str(i)}')
        gnt_col_names.append(f'gnt_top{str(i)}')
        
    bay_top3_df=pd.DataFrame(bay_top_3,columns=bay_col_names)
    gnt_top3_df=pd.DataFrame(gnt_top_3,columns=gnt_col_names)
    final_matches=[]

    for gnt_out,bay_out in zip(gnt_top_3,bay_top_3):
        matches=[]
        for out in gnt_out:
            if out in bay_out:
                matches.append(True)
            else:
                matches.append(False)
        percentage_of_acc=(matches.count(True)/len(matches))*100

        if percentage_of_acc >= match_threshold: 
            final_matches.append(True)
        else:
            final_matches.append(False)
            
    result=pd.concat([bay_top3_df,gnt_top3_df,pd.DataFrame(final_matches,columns=["match"])],axis=1)
    # decision=str(input("Do you want to save the o/p(yes/no)?"))
    decision="yes"
    if decision=="Yes" or decision=="yes" or decision=="YES":
        # file_name=str(input("enter file name :"))
        file_name=f"thres_{match_threshold}"
        result.to_csv(f"{file_name}.csv")
    
    try:
        result["match"].value_counts()[True]
    except:
        print('accuracy : 0 % ')
        with open(f"{no_topics}_plsa.txt","a") as op:
            op.writelines(f"\n Number of topics : {no_topics} \n N-largest : {n_largest} \n Match Threshold :{match_threshold} \n accuracy : 0")
        
    try:
        result["match"].value_counts()[False]
    except:
        print('accuracy : 100%')
        with open(f"{no_topics}_plsa.txt","a") as op:
            op.writelines(f"\n Number of topics : {no_topics} \n N-largest : {n_largest} \n Match Threshold :{match_threshold} \n accuracy : 100")

    try:
        accuracy=result["match"].value_counts()[True]/(result["match"].value_counts()[True]+result["match"].value_counts()[False])
        print("The accuracy is :",accuracy)
        with open(f"{no_topics}_plsa.txt","a") as op:
            op.writelines(f"\n Number of topics : {no_topics} \n N-largest : {n_largest} \n Match Threshold :{match_threshold} \n accuracy : {accuracy}")
    except:
        print("result already shown")



# topics=str(input("enter no. of topics :"))
# n_largest=int(input("enter n_largest : "))

# thres=[60,80,100]

# for threshold in thres:
#     print("topics:",topics)
#     print("n largest :",n_largest)
#     print("Threshold is :",threshold)
#     accuracy(n_largest,threshold,topics)

In [60]:
thres=[60,80,100]
for topic,nlar in zip([20,20,20],[20,20,20]):
    for i in thres:
        print("topics:",topic)
        print("n largest :",nlar)
        print("Threshold is :",i)
        accuracy(nlar,i,topic)

topics: 20
n largest : 20
Threshold is : 60
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 80
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 100
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 60
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 80
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 100
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 60
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 80
read sucessfully
accuracy : 100%
result already shown
topics: 20
n largest : 20
Threshold is : 100
read sucessfully
accuracy : 100%
result already shown

# Problem solvong area

In [ ]:
import pandas as pd


n_largest=2
threshold=60
bay=cleaned_bay
gnt=cleaned_plsa_5 #changing the gntm to plsa
print("read sucessfully")
# bay.drop(["Unnamed: 0"],axis=1,inplace=True) 
# gnt.drop(["Unnamed: 0"],axis=1,inplace=True) 
bay,gnt=bay.transpose(),gnt.transpose()
bay_top_3,gnt_top_3=[],[]
for col in range(bay.shape[1]):
    try:
        bay_top_3.append(bay.nlargest(n_largest,col).index) 
    except:
        pass
for col in range(gnt.shape[1]):
    try:
        gnt_top_3.append(gnt.nlargest(n_largest,col).index)
    except:
        pass
bay_col_names=[]
gnt_col_names=[]
for i in range(1,n_largest+1):
    bay_col_names.append(f'bay_top{str(i)}')
    gnt_col_names.append(f'gnt_top{str(i)}')
    
gnt_top_3

In [ ]:
bay_top3_df=pd.DataFrame(bay_top_3,columns=bay_col_names)
gnt_top3_df=pd.DataFrame(gnt_top_3,columns=gnt_col_names)

gnt_top3_df

In [ ]:
match_threshold=60

In [ ]:
final_matches=[]
for gnt_out,bay_out in zip(gnt_top_3,bay_top_3):
    matches=[]
    for out in gnt_out:
        if out in bay_out:
            matches.append(True)
        else:
            matches.append(False)
    percentage_of_acc=(matches.count(True)/len(matches))*100
    if percentage_of_acc >= match_threshold: 
        final_matches.append(True)
    else:
        final_matches.append(False)
        
result=pd.concat([bay_top3_df,gnt_top3_df,pd.DataFrame(final_matches,columns=["match"])],axis=1)

result

decision=str(input("Do you want to save the o/p(yes/no)?"))
decision="yes"
if decision=="Yes" or decision=="yes" or decision=="YES":
    file_name=str(input("enter file name :"))
    result.to_csv(f"{file_name}.csv")

try:
    result["match"].value_counts()[True]
except:
    print('accuracy : 0 % ')
try:
    result["match"].value_counts()[False]
except:
    print('accuracy : 100%')
try:
    accuracy=result["match"].value_counts()[True]/(result["match"].value_counts()[True]+result["match"].value_counts()[False])
    print("The accuracy is :",accuracy)
except:
    print("result already shown")
# topics=str(input("enter no. of topics :"))
# n_largest=int(input("enter n_largest : "))

# problem in py file

In [37]:
cleaned_plsa_5.head(5)

              0         1         2         3         4
index
2.0    0.459501  0.119614  0.231753  0.144837  0.044295
3.0    0.350112  0.156945  0.177958  0.263452  0.051532
4.0    0.116624  0.208942  0.111421  0.520003  0.043009
5.0    0.130336  0.411588  0.196238  0.143387  0.118451
7.0    0.180428  0.059939  0.065561  0.634044  0.060029

In [38]:
cleaned_bay.head(5)

              0         1         2         3         4
index
2      0.090909  0.181818  0.181818  0.363636  0.181818
3      0.111111  0.222222  0.222222  0.222222  0.222222
4      0.125000  0.250000  0.125000  0.250000  0.250000
5      0.166667  0.166667  0.333333  0.166667  0.166667
7      0.470588  0.235294  0.029412  0.029412  0.235294

In [ ]:
cleaned_plsa_5.head(5)

In [100]:


bay=cleaned_bay
plsa=cleaned_plsa_5 #changing the gntm to plsa
print("read sucessfully")
# bay.drop(["Unnamed: 0"],axis=1,inplace=True) 
# gnt.drop(["Unnamed: 0"],axis=1,inplace=True) 
bay,plsa=bay.transpose(),plsa.transpose()
bay_top_3,plsa_top_3=[],[]
for col in range(bay.shape[1]):
    try:
        bay_top_3.append(bay.nlargest(n_largest,col).index) 
    except:
        pass
for col in range(plsa.shape[1]):
    try:
        plsa_top_3.append(plsa.nlargest(n_largest,col).index)
    except:
        pass
bay_col_names=[]
plsa_col_names=[]
for i in range(1,n_largest+1):
    bay_col_names.append(f'bay_top{str(i)}')
    plsa_col_names.append(f'plsa_top{str(i)}')
    
bay_top3_df=pd.DataFrame(bay_top_3,columns=bay_col_names)
plsa_top3_df=pd.DataFrame(plsa_top_3,columns=plsa_col_names)

read sucessfully

In [105]:
plsa_top3_df

     bay_top1 bay_top2
0           3        1
1           1        2
2           1        3
3           2        0
4           0        1
...       ...      ...
6080        0        1
6081        3        0
6082        2        0
6083        2        4
6084        3        0

[6085 rows x 2 columns]

In [106]:
final_matches=[]
for plsa_out,bay_out in zip(plsa_top_3,bay_top_3):
    matches=[]
    for out in plsa_out:
        if out in bay_out:
            matches.append(True)
        else:
            matches.append(False)
    percentage_of_acc=(matches.count(True)/len(matches))*100
    if percentage_of_acc >= match_threshold: 
        final_matches.append(True)
    else:
        final_matches.append(False)
        
result=pd.concat([bay_top3_df,plsa_top3_df,pd.DataFrame(final_matches,columns=["match"])],axis=1)

In [107]:
# decision=str(input("Do you want to save the o/p(yes/no)?"))
decision="yes"
if decision=="Yes" or decision=="yes" or decision=="YES":
    file_name=str(input("enter file name :"))
    result.to_csv(f"{file_name}.csv")

try:
    result["match"].value_counts()[True]
except:
    print('accuracy : 0 % ')
try:
    result["match"].value_counts()[False]
except:
    print('accuracy : 100%')
try:
    accuracy=result["match"].value_counts()[True]/(result["match"].value_counts()[True]+result["match"].value_counts()[False])
    print("The accuracy is :",accuracy)
    with open(f"{no_topics}_plsa.txt","a") as op:
        op.writelines(f"\n Number of topics : {no_topics} \n N-largest : {n_largest} \n Match Threshold :{match_threshold} \n accuracy : {accuracy}")
except:
    print("result already shown")

accuracy : 0 %
result already shown